# Usage:
# 1. Copy this file as `.env` into your project
# 2. Adapt the information below with the your personal data.
# 3. INFO: escape special characters like # with \
#
# The file `.env` is ignored by git. Note: DO NOT COMMIT your personal data.

# It is necessary to set the stage to `development` when developing locally (optional)
#export STAGE=development
export LOG_LEVEL=debug
export NAMESPACE=$(shell kubectl config view --minify -o jsonpath='{..namespace}')

# Credentials for the dogu registry. Do not use quotes for the values.
export DOGU_REGISTRY_ENDPOINT=https://dogu.cloudogu.com/api/v2/dogus
export DOGU_REGISTRY_USERNAME=<doguRegistryUsername>
# INFO: escape special characters like # with \
export DOGU_REGISTRY_PASSWORD=<doguRegistryPassword>

# Credentials for the docker registry. Do not use quotes for the values.
docker_registry_server=<dockerRegistryServer>
docker_registry_username=<dockerRegistryUsername>
# INFO: escape special characters like # with \
docker_registry_password=<dockerRegistryPassword>
export DOCKER_REGISTRY={"auths":{"${docker_registry_server}":{"username":"${docker_registry_username}","password":"${docker_registry_password}","email":"ignore@me.com","auth":"ignoreMe"}}}
