apiVersion: k8s.cloudogu.com/v1
kind: Dogu
metadata:
  name: jenkins
  annotations:
    test: dev
  labels:
    dogu.name: jenkins
    dogu.version: 2.346.1-1
    app: ces
spec:
  name: official/jenkins
  version: 2.346.1-1